.AllIconsDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.navContainer,
.Jokedisplay,
.dictionarydisplay,
.AdviceDisplay,
.QuotesDisplay,
.NewsDisplay,
.pieChart {
  margin-top: 2em;
  border-radius: 1em;
  border: groove;
  border-color: black;
  padding: 1em;
  margin-right: 5%;
  margin-left: 5%;
  box-shadow: 1px 2px 20px 7px #888;
  opacity: 0.85;
}
.dictionaryWord {
  color: black;
  font-size: 3em;
  font-weight: bolder;
  padding-left: 2%;
}
.dictionaryDefinition {
  color: rgb(43, 42, 42);
  font-size: 2em;
  padding-left: 2%;
}
.dictionaryPronunciation {
  color: rgb(85, 79, 79);
  padding-left: 2%;
  padding-top: 1%;
}
@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);

.advice {
  font-size: 2em;
  font: bold "Signika", sans-serif;
  user-select: none;
}

.advice span {
  display: inline-block;
  animation: bounce 0.6s;
}
@keyframes float {
  0%,
  100% {
    transform: none;
  }
  33% {
    transform: translateY(-1px) rotate(-2deg);
  }
  66% {
    transform: translateY(1px) rotate(2deg);
  }
}
.advice:hover span {
  animation: float 0.2s ease-in-out infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
    transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}

.Newstitle {
  font-size: x-large;
}
.Newsdescription {
  font-size: small;
}

.GIFimageDisplay {
  margin-top: 2em;
  border-radius: 1em;
  border: groove;
  border-color: rgb(4, 131, 131);
  padding: 1em;
  margin-left: 40%;
  box-shadow: 1px 2px 20px 7px #888;
  opacity: 0.85;
}
