.ml-auto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.navContainer {
  margin-top: 2em;
  border-radius: 1em;
  border: groove;
  border-color: black;
  padding: 1em;
  margin-right: 5%;
  margin-left: 5%;
}
